.page-header{
	background-color: lightblue;
}

hr {
	color: black;
	border-width: 5px;
}

.portfolio-item {
    margin-bottom: 25px;
}

#education {
	text-align: center;
}

#bio {
	text-align: center;
}